

#error {
  color: red;
  display: none; /* Esconde o span */
}

#error.visible {
  display: inline; /* Exibe o span somente se o input for inválido. */
}

input.invalid {
  border-color: red;
}


/* Exibição dos veículos */
.title{
  text-align: center;
}