<h1>Novo Carro</h1>

<form class="row g-3" action="/car/add" method="post">

    <div class="col-md-6">
      <input type="hidden" name="disponivel" value="Sim">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" name="nome" class="form-control" required>
    </div>  
    <div class="col-md-6">
      <label for="modelo" class="form-label">Modelo:</label>
      <input type="text" name="modelo" class="form-control" required>
    </div>  
    <div class="col-md-6">
      <label for="ano" class="form-label">Ano:</label>
      <input type="text" name="ano" class="form-control" required>
    </div>  
    <div class="col-md-6">
      <label for="fabricante" class="form-label">Fabricante:</label>
      <input type="text" name="fabricante" class="form-control" required>
    </div>  
    <div class="col-md-6">
      <label for="valor_loc" class="form-label">Valor Locação:</label>
      <input type="text" name="valor_loc" class="form-control" required>
    </div>  
    <div class="col-md-6">
      <label for="cor" class="form-label">Cor:</label>
      <input type="text" name="cor" class="form-control" required>
    </div>  
    {{!-- <div class="col-md-6">
      <label for="disponivel" class="form-label">Disponivel:</label>
      <input type="text" name="disponivel" class="form-control" required>
    </div>   --}}
    <div class="col-md-6">
      <label for="adicionais" class="form-label">Adicionais:</label>
      <input type="text" name="adicionais" class="form-control" >
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  
</form>