<div class="p-2 mt-5 container">
  <h1>Conheça Nossos Veiculos</h1>
</div>
<div class="p-2 mt-5 d-flex flex-wrap container" id="listaCarros">
  {{#if carro}}
    {{#each carro}}
      <div class="p-2" >
        {{>carroCard}}
      </div>
      
    {{/each}}
  {{/if}}
</div>

<script src="/js/frota.js"></script>
