<p>cliente {{session.userid}}</p>



<a href="/cliente/atualizar/:{{session.userid}}" role="button">Editar meus dados</a>

<a href="/locacao/todasUsu" role="button">Ver minhas locações</a>

<a href="/cliente/apagar" role="button">Apagar minha conta</a>

<a href="/usuario/logout" role="button">Sair</a>