<p>cliente {{session.userid}}</p>



<a href="/cliente/atualizar/:{{session.userid}}" role="button">editar meus dados</a>

<a href="/cliente/apagar" role="button">remover meu cadastro</a>

<a href="/cliente/logout" role="button">sair</a>