
{{!-- <div>
    <p>Deseja excluir seu cadastro?</p>
    <form class="row g-3" action="/cliente/apagar" method="post">
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Remover</button>
    </div>
    </form>
</div> --}}

<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Deseja excluir seu cadastro?</h5>
    <p class="card-text">
    <form class="row g-3" action="/cliente/apagar" method="post">
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Remover</button>
    </div>
    </form>
  </div>
</div>
