<div class="home ms-3">
  <section class="content">
    <h3 class="mt-5">Categorias</h3>
    <div class="d-flex">
      <div class="me-5">
        <a href="/carro/frota" style="text-decoration: none; color: black;">
          <div class="card" style="width: 18rem;">
            
            <img src="/images/carros.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Nossa Frota</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="me-5">
        <a href="/usuario/login" style="text-decoration: none; color: black;">
          <div class="card" style="width: 18rem;">
            
            <img src="/images/login.jpeg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Entrar</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="me-5"></div>
      <div class="me-5"></div>
    </div>
  </section>
  <section class="cars"></section>
  <section class="infos"></section>

</div>