<div class="infos">
  {{#if success}}
    <script>
      $(document).ready(function(){
        $('.toast').toast('show');
      });
    </script>
    <div class="toast text-white bg-success position-absolute bottom-0" data-autohide="true" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="fa-solid fa-circle-check rounded me-2 text-green"></i>
        <strong class="me-auto"> Info</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{success}}
      </div>
    </div>
    <!--
      <div class="aler alert-success mb-3 rounded">
          <div class="p-1">
            <i class="fa-solid fa-circle-check"></i>
            {{success}}
          </div>
      </div>
    -->
    
  {{/if}}

      
    <div class="users p-2">
      
      {{>formAdmin}}
      <div class="border rounded p-2">
        {{#if users}}
        <table class="table table-bordered">
          <div class=" row justify-content-start table-bordered">

            <thead class="table-bordered">
              <th scope="col"><div class="col"><label for="">#</label></div></th>
              <th scope="col"><div class="col"><label for="">Nome</label></div></th>
              <th scope="col"><div class="col"><label for="">Email</label></div></th>
              <th scope="col"><div class="col"><label for="">Senha</label></div></th>
              <th scope="col"><div class="col"><label for="">CPF</label></div></th>
              <th scope="col"><div class="col"><label for="">Tipo</label></div></th>
              <th scope="col"><div class="col"><label for="">Ações</label></div></th>
            </thead>



          </div>  
        
      {{/if}}
          <tbody>

            {{#each users}}
              <div id="adminList">
                {{>admin}}

              </div>
            
            {{/each}}
          </tbody>
        </table>
      </div>
    
    </div>

    <div class="cars p-2">

      {{>formCars}}
      <div class="border rounded p-2">
        {{#if cars}}
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ano</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Valor</th>
                <th scope="col">Cor</th>
                <th scope="col">Adicionais</th>
                <th scope="col">Disponivel</th>
                <th scope="col">imgName</th>
                <th scope="col">Ações</th>
                

              </tr>
              
            </thead>
          
        {{/if}}
          <tbody>

            {{#each cars}}
            
                {{>cars}}
            
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

