<div class="users container p-2">
  {{#if success}}
    <div class="aler alert-success mb-3">
      {{success}}
    </div>

  {{/if}}
  <form action="/admin/add" method="POST" class="d-flex p-2 border">
    <div class="row ">
      <div class="mb-3 col-auto">
        <label for="name" class="form-label">Nome</label>
        <input type="text" name="name" class="form-control" required>
        
      </div>
      <div class="mb-3 col-auto">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
        
      </div>
      <div class="mb-3 col-auto">
        <label for="password" class="form-label">Senha</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <div class="mb-3 col-auto">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" name="cpf" class="form-control" required>
      </div>
      <div class="mb-3 col-auto">
        <label for="user_type" class="form-label">Tipo</label>
        <input type="text" name="user_type" class="form-control" required>
      </div>
      <div class="col-auto">
        <label for="" class="form-label">.</label>
        <input type="submit" value="Salvar" class="form-control btn btn-primary">
      </div>
    </div>

  </form>
  <div class="border p-2">
    {{#if users}}
    <div class=" row justify-content-start table-bordered">
      
      <thead class="table-bordered">

        <th scope="col"><div class="col"><label for="">Nome</label></div></th>
        <th scope="col"><div class="col-3"><label for="">Email</label></div></th>
        <div class="col"><label for="">Senha</label></div>
        <div class="col"><label for="">CPF</label></div>
        <div class="col"><label for="">Tipo</label></div>
        <div class="col"><label for="">Ações</label></div>
      </thead>


    </div>
  {{/if}}
  
    {{#each users}}
     
      {{>admin}}
    
    {{/each}}
  </div>
 
</div>