{{!-- <div class="auth-container">
  <h2>Entrar</h2>
  <form action="/usuario/login" method="POST">
    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" name="email" class="form-control" />
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="senha" class="form-label">Senha:</label>
        <input type="password" name="password" class="form-control" />
      </div>
    </div>
    <input type="submit" value="Entrar">
    <p>Não tem conta? <a href="/cliente/cadastro">Clique aqui</a></p>
  </form>
</div> --}}

<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form action="/usuario/login" method="POST">
              <div class="card-body p-5">
              <h3 class="mb-5  text-center">Faça seu login</h3>
              <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control form-control-lg" required/>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Senha</label>
                <input type="password" name="password" class="form-control form-control-lg" required/>
              </div>
                <div class="text-center">
                  <button class="btn btn-primary btn-lg btn-block btn-yellow" type="submit">Login</button>
                </div>
              </div>
            </form>
            <div class="text-center ">
                <p class="">Não possui conta? <a href="/cliente/cadastro" class=" fw-bold">Cadastre-se</a>
                </p>
            </div>
        </div>        
      </div>
  </div>
</section>